* {
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    color: red;
}
input {
    outline: none;
}
body {
    box-sizing: border-box;
    background: url(../images/loginbj1.jpg) no-repeat center fixed;
    background-size: cover;
}
.content {
width: 500px;
height: 380px;
margin: 185px auto;
background: linear-gradient( rgba(0,0,0,.5), white);
text-align: center;
}
.content h4 {
    font-size: 30px;
    color: #fff;
}

.register {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   margin-top: 40px;
}
.register input {
    border: 0;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    background: #ffffff00;
    padding-left: 20px;
    border-bottom: 2px solid white;
    color: #fff;
}
label span {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.register .submit {
    width: 150px;
    height: 30px;
    background: linear-gradient(to right , #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    margin-top: 15px;
    padding: 0;
    border-radius:15px;
    color: #0cebeb;
}
input::placeholder {
    color: white;
}
.submit:hover {
    cursor: pointer;
    color: white;
    background: #a4a68f;
}